<footer id="footer">
    <div class="footer-menu">
        <div class="container">
            <div class="links">
                <a href="#!" class="bar">회사소개</a>
                <a href="#!" class="bar">이용약관</a>
                <a class="em bar" href="#!">개인정보처리방침</a>
                <a href="#!" class="bar">이메일주소 무단 수집거부</a>
                <a href="#!">고객만족센터</a>
            </div>
            <div class="site-menu">
                <div class="site-map">
                    <div class="name bar">
                        Site-map
                        <div class="icon">
                            <i class="fa fa-chevron-up"></i>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="dropdown-container">
                            <ul>
                                <li>
                                    <h5>제품</h5>
                                    <a href="#!">모든제품</a>
                                    <a href="#!">민감피부솔루션</a>
                                    <a href="#!">유형별</a>
                                    <a href="#!">라인별</a>
                                    <a href="#!">온라인세트</a>
                                    <a href="#!">제품 리뷰</a>
                                </li>
                                <li>
                                    <h5>이벤트</h5>
                                    <a href="#!">이벤트</a>
                                    <a href="#!">문화처방전</a>
                                    <a href="#!">당첨자 발표</a>
                                    <a href="#!">이벤트 리뷰</a>
                                </li>
                                <li>
                                    <h5>스토리</h5>
                                    <a href="#!">제품 스토리</a>
                                    <a href="#!">소셜채널</a>
                                </li>
                                <li>
                                    <h5>필터 스페이스</h5>
                                    <a href="#!">진행중인 캠페인</a>
                                    <a href="#!">나의 예약확인</a>
                                    <a href="#!">소개</a>
                                </li>
                                <li>
                                    <h5>브랜드</h5>
                                    <a href="#!">브랜드 이야기</a>
                                </li>
                                <li>
                                    <h5>고객만족센터</h5>
                                    <a href="#!">FAQ</a>
                                    <a href="#!">1:1 문의</a>
                                    <a href="#!">공지사항</a>
                                    <a href="#!">멤버십 안내</a>
                                    <a href="#!">매장 안내</a>
                                </li>
                                <li>
                                    <h5>유틸리티</h5>
                                    <a href="#!">회원가입</a>
                                    <a href="#!">마이페이지</a>
                                    <a href="#!">장바구니</a>
                                    <a href="#!">위시리스트</a>
                                    <a href="#!">검색</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="family-map">
                    <div class="name bar">
                        Family-site
                        <div class="icon">
                            <i class="fa fa-chevron-up"></i>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="dropdown-container">
                            <ul>
                                <li><a href="#!">DTRT</a></li>
                                <li><a href="#!">Dr.Jart US</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="language">
                    <div class="name">
                        Korean
                        <div class="icon">
                            <i class="fa fa-chevron-up"></i>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="dropdown-container">
                            <ul>
                                <li><a href="#!">Korean</a></li>
                                <li><a href="#!">English</a></li>
                                <li><a href="#!">Chinese</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-info">
        <div class="container">
            서울특별시 강남구 역삼동 769-8 엠스페이스빌딩, 도로명 주소 ( 서울특별시 강남구 논현로72길 13 M-SPACE 빌딩 해브앤비 )<span>대표이사 : 크리스토퍼 킨더슬리 우드</span><br>
            상호명 : 해브앤비(주) 사업자 등록번호 : 214-87-63681<span> 통신판매업 신고번호 : 2008 서울 강남-2284호</span>
            <a class="btn" href="#!">사업자정보확인 ></a><br>
            개인정보관리책임자 : 엄정식 팀장 고객만족센터 : 1544-5453 ( 운영시간 : 09:00~18:00, 점심시간 : 11:50~12:50 )<span> FAX :02-3462-9051</span><br>
            전자우편주소 : <a href="#!">webmaster@drjart.com</a><br>
            <p>Copyrightⓒ Have&Be co., Ltd. All rights reserved.</p>
        </div>
    </div>
</footer>