<div id="wrap">
    <header class="header">
        <div class="container">
            <div class="main-header">
                <nav>
                    <h2><a class="active" href="#!">제품</a></h2>
                    <ul class="header-menu">
                        <li><a href="#!">모든제품</a></li>
                        <li><a href="#!"><em>공식몰 단독 혜택</em></a></li>
                        <li><a href="#!">민감피부솔루션</a></li>
                        <li><a href="#!">유형별</a></li>
                        <li><a href="#!">라인별</a></li>
                        <li><a href="#!">온라인세트</a></li>
                        <li><a href="#!">제품 리뷰</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="side-header">
            <div class="header-btn">
                <a class="plus" href="#!"></a>
                <a class="all-menu" href="#!">
                    <i class="fa fa-bars"></i>
                    <i class="fa fa-times"></i>
                </a>
                <div class="icons">
                    <a href="#!"><img src="/public/images/ico_login_new.webp" alt=""></a>
                    <a href="#!"><img src="/public/images/ico_login_new.webp" alt=""></a>
                    <a href="#!"><img src="/public/images/ico_login_new.webp" alt=""></a>
                </div>
            </div>
            <div class="side-nav">
                <h1><img src="/public/images/drjart_logo.svg" alt=""></h1>
                <ul class="side-menu">
                    <li><a href="#!">제품</a></li>
                    <li><a href="#!">이벤트</a></li>
                    <li><a href="#!">스토리</a></li>
                    <li><a href="#!">필터 스페이스</a></li>
                    <li><a href="#!">브랜드</a></li>
                    <li><a href="#!"><img src="/public/images/jartv.png" alt=""></a></li>
                </ul>
                <ul class="side-nav-util">
                    <li><a href="#!">멤버십</a></li>
                    <li><a href="#!">고객만족센터</a></li>
                    <li><a href="#!">매장안내</a></li>
                </ul>
                <a class="side-btn" href="#!">통합회원 전환</a>
                <div class="language">
                    <a class="active bar" href="#!">KR</a>
                    <a class="bar" href="#!">EN</a>
                    <a href="#!">CN</a>
                </div>
                <div class="banner">
                    <img src="#!" alt="">
                    <img src="#!" alt="">
                </div>
                <div class="screen"></div>
            </div>
        </div>
    </header>
</div>