<header class="header">
    <div id="main" class="main-header">
        <div class="container">
            <nav>
                <h2><a href="#!">제품</a></h2>
                <ul class="header-menu">
                    <li><a href="#!">모든제품</a></li>
                    <li><a class="active-bar" href="#!"><em>공식몰 단독 혜택</em></a>
                        <div class="drop-down">
                            <ul>
                                <li><a href="#!">#해피멤버십데이</a></li>
                                <li><a href="#!">#셀프홈케어</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="active-bar" href="#!">민감피부솔루션</a>
                        <div class="drop-down">
                            <ul>
                                <li><a href="#!">회복진정</a></li>
                                <li><a href="#!">수분공급</a></li>
                                <li><a href="#!">트러블 케어</a></li>
                                <li><a href="#!">SUN 케어</a></li>
                                <li><a href="#!">안티폴루션</a></li>
                                <li><a href="#!">보습장벽케어</a></li>
                                <li><a href="#!">커버케어</a></li>
                                <li><a href="#!">미백&광채</a></li>
                                <li><a href="#!">커버케어</a></li>
                                <li><a href="#!">결/각질케어</a></li>
                                <li><a href="#!">안티에이징</a></li>
                                <li><a href="#!">스팟관리</a></li>
                                <li><a href="#!">모공관리</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="active-bar" href="#!">유형별</a>
                        <div class="drop-down">
                            <ul>
                                <li><a href="#!">토너/미스트</a></li>
                                <li><a href="#!">세럼/에센스</a></li>
                                <li><a href="#!">크림/로션</a></li>
                                <li><a href="#!">마스크/팩</a></li>
                                <li><a href="#!">선케어</a></li>
                                <li><a href="#!">비비크림</a></li>
                                <li><a href="#!">메이크업</a></li>
                                <li><a href="#!">클렌징</a></li>
                                <li><a href="#!">스크럽/필링</a></li>
                                <li><a href="#!">립/아이</a></li>
                                <li><a href="#!">ACC</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="active-bar" href="#!">라인별</a>
                        <div class="drop-down">
                            <ul>
                                <li><a href="#!">바이탈 하이드라 솔루션</a></li>
                                <li><a href="#!">솔라바이옴</a></li>
                                <li><a href="#!">시카페어</a></li>
                                <li><a href="#!">세라마이딘</a></li>
                                <li><a href="#!">에브리 선 데이</a></li>
                                <li><a href="#!">더메이크업</a></li>
                                <li><a href="#!">더마클리어</a></li>
                                <li><a href="#!">더마스크</a></li>
                                <li><a href="#!">V7</a></li>
                                <li><a href="#!">펩타이딘</a></li>
                                <li><a href="#!">알엑스</a></li>
                                <li><a href="#!">포맨</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#!">온라인세트</a></li>
                    <li><a href="#!">제품 리뷰</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
