.product-detail-visual {
  padding-bottom: 100px;
  .container {
    display: flex;
  }
  .slider-for {
    width: 750px;
    flex: 70%;
    .item {
      height: 100vh;
      background-size: cover;
      background-position: center;
      &.img1 {
        background-image: url("/public/images/1560475105869.webp");
      }
      &.img2 {
        background-image: url("/public/images/1560475117671.webp");
      }
      &.img3 {
        background-image: url("/public/images/1557899103765.webp");
      }
      &.img4 {
        background-image: url("/public/images/1557899107862.webp");
      }
    }
  }
  .description {
    position: relative;
    flex: 30%;
    width: 380px;
    margin-left: 50px;
    .sns-links {
      position: absolute;
      top: 0;
      right: 0;
      background: url("/public/images/shsShare.webp") no-repeat;
      .facebook {
        width: 22px;
        height: 18px;
        display: inline-block;
      }
      .kakaostory {
        width: 22px;
        height: 18px;
        display: inline-block;
        background-position: -70px 0;
      }
      .url {
        width: 44px;
        height: 18px;
        display: inline-block;
        background-position: -140px 0;
      }
    }
    .title {
      position: relative;
      margin-top: 100px;
      .labels {
        display: flex;
        > div {
          & + div {
            margin-top: 0;
            margin-left: 4px;
          }
        }
      }
      h1 {
        font-size: 30px;
        line-height: 38px;
      }
      .tag {
        font-size: 13px;
        color: #999;
        margin: 20px 0;
      }
      .price {
        font-size: 18px;
        color: #222;
        font-weight: 600;
        margin-bottom: 19px;
      }
    }
    .option {
      border-top: 1px solid #dcdcdc;
      .list {
        display: flex;
        padding: 15px 0;
        p.tit {
          font-size: 14px;
          color: #222;
          width: 80px;
        }
        p.sub {
          font-size: 15px;
          color: #555;
        }
        p.em {
          font-size: 15px;
          color: #39b5b7;
        }
      }
      .bar {
        border-top: 1px solid #dcdcdc;
        display: flex;
        justify-content: space-between;
        p.sub {
          font-size: 22px;
          color: #222;
          font-weight: 600;
        }
      }
      .count {
        ul {
          display: flex;
          border: 1px solid #d5d3d3;
          li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            cursor: pointer;
          }
        }
      }
    }
    .buttons {
      transform: none;
      .buy {
        width: 177px;
        .icon-plus {
          background-color: #fff;
        }
      }
    }
  }
}
.product-detail-reviewstar {
  padding-bottom: 100px;
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    p.tit {
      font-size: 18px;
      color: #333;
      margin-right: 15px;
    }
    p.score {
      font-size: 21px;
      color: #333;
      margin-right: 3px;
    }
    .star {
      i {
        color: #333;
        letter-spacing: -2px;
        font-size: 20px;
      }
    }
  }
  .thumb {
    display: flex;
    justify-content: center;
    img {
      padding: 10px;
      cursor: pointer;
      &:hover {
        filter: grayscale(100%);
        transition: .6s;
      }
    }
  }
}
.product-detail-information {
  .info-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    a {
      position: relative;
      display: flex;
      padding: 10px;
      font-size: 16px;
      color: #999;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #222;
        margin: 0 8px;
        transform: translateX(-150%);
        transition: .6s;
      }
      &:hover {
        color: #222;
        &::after {
          transform: translateX(0%);
        }
      }
    }
  }
  .detail-info {
    text-align: center;
    iframe {
      margin-bottom: 100px;
    }
  }
}
.quick-bar {
  background-color: #fff;
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 50px;
  width: 278px;
  text-align: center;
  border-top: 1px solid #222;
  padding: 20px;
  display: none;
  h2 {
    font-size: 20px;
    color: #222;
  }
  h3 {
    font-size: 18px;
    color: #222;
    font-weight: 600;
    margin: 20px 0;
  }
  .count {
    ul {
      width: 218px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #d5d3d3;
      li {
        padding: 0 10px;
        cursor: pointer;
      }
    }
  }
  .buttons {
    transform: none;
    .buy {
      width: 177px;
      .icon-plus {
        background-color: #ffffff;
      }
    }
  }
  .get-scroll & {
    display: block;
    transition: 1s;
  }
}
.chat {
  position: fixed;
  bottom: 50px;
  right: 20px;
  a {
    display: block;
    background: url("/public/images/ico_chat.png") no-repeat;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    &:hover {
      &.drj {
        background-position: -60px 0;
      }
      &.kakao {
        background-position: -60px -72px;
      }
      &.naver {
        background-position: -60px -144px;
      }
      &.chat-open {
        background-color: black;
      }
    }
  }
  .drop-icon {
    display: none;
    .drj {
      background-position: 0 0;
    }
    .kakao {
      background-position: 0 -72px;
    }
    .naver {
      background-position: 0 -144px;
    }
    &.is-active {
      display: block;
    }
  }
  .chat-icon {
    .chat-open {
      background-position: 0 -229px;
      background-color: #d5d3d3;
      border-radius: 50%;
    }
    .chat-close {
      background-position: -60px -229px;
      background-color: #222;
      border-radius: 50%;
      display: none;
    }
    &.is-active {
      .chat-open {
        display: none;
      }
      .chat-close {
        display: block;
      }
    }
  }
  .get-scroll & {
    transition: .5s;
  }
}
.product-detail-review {
  padding-bottom: 100px;
  .guide {
    border: 1px solid #dadada;
    padding: 20px;
    p {
      font-size: 14px;
      line-height: 1.5;
      color: #888;
    }
  }
  .option {
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    .photo {
      width: 206px;
      height: 35px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid #8f8f8f;
      padding-left: 20px;
      i {
        font-size: 25px;
        color: #3f3f3f;
      }
      p {
        color: #8f8f8f;
        font-size: 12px;
        margin-left: 10px;
      }
    }
    .star-score {
      width: 427px;
      font-size: 12px;
      padding-left: 10px;
      .name {
        border: 1px solid #8f8f8f;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 10px;
        cursor: pointer;
        i {
          font-size: 12px;
        }
        .text {
          margin-left: -250px;
        }
      }
      .dropdown {
        position: relative;
        background-color: #fff;
        display: none;
        ul {
          border: 1px solid #8f8f8f;
          border-top: none;
          li {
            height: 35px;
            display: flex;
            align-items: center;
            padding: 4px 10px;
            cursor: pointer;
            .text {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .review-submit {
      width: 228px;
      background-color: #3f3f3f;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      i {
        font-size: 20px;
        margin-right: 5px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .score-box {
    height: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dadada;
    padding: 20px;
    margin-top: 40px;
    .score {
      flex: 20%;
      text-align: center;
      .title {
        font-size: 50px;
        margin-bottom: 10px;
      }
      .sub {
        font-size: 12px;
        color: #767676;
      }
    }
    .bar {
      flex: 50%;
      margin-bottom: -8px;
      padding-right: 20px;
      border-right: 1px solid #dadada;
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        p {
          color: #9d9d9d;
          font-size: 12px;
        }
        .bar {
          width: 100%;
          height: 14px;
          background-color: #f4f4f4;
          margin: 0 20px;
          border-right: none;
          .value {
            background-color: #39b5b7;
            height: 14px;
          }
        }
      }
    }
    .description {
      flex: 30%;
      padding-left: 40px;
      .title {
        font-size: 14px;
        color: #9d9d9d;
        line-height: 1.5;
        em {
          color: #39b5b7;
        }
      }
      .sub {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        color: #000;
        cursor: pointer;
      }
    }
  }
  .board {
    margin-top: 40px;
    .menu {
      display: flex;
      padding-bottom: 10px;
      border-bottom: 1px solid #dadada;
      .new {
        font-size: 16px;
        color: #222;
        padding-right: 30px;
        strong {
          font-weight: 600;
        }
      }
      p {
        a {
          color: #949494;
          font-size: 13px;
          padding-right: 30px;
        }
      }
    }
    .select-box {
      padding-top: 20px;
      display: flex;
      justify-content: flex-end;
      .type-select {
        max-width: 220px;
        min-width: 120px;
        margin-right: 10px;
        .name {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 10px;
          border-bottom: 1px solid #dadada;
          color: #444;
          font-size: 14px;
          i {
            font-size: 14px;
            color: #b8b8b8;
          }
        }
        .dropdown {
          display: none;
          ul {
            display: flex;
            flex-direction: column;
            padding: 10px;
            border: 1px solid #b8b8b8;
            border-top: none;
            li {
              display: flex;
              align-items: center;
              color: #b8b8b8;
              font-size: 13px;
              margin-bottom: 5px;
              input {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
    .item {
      margin-top: 20px;
      display: flex;
      border-bottom: 1px solid #dadada;
      padding-bottom: 20px;
      .main {
        flex: 75%;
        .score  {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          .star {
            margin: 0 5px;
            i {
              font-size: 12px;
            }
          }
          p {
            font-size: 12px;
            color: #a4a4a4;
          }
          .labels {
            position: relative;
            left: 10px;
            top: 0;
          }
        }
        .type {
          width: 650px;
          border: 1px solid #b8b8b8;
          padding: 5px;
          display: flex;
          flex-direction: column;
          margin: 20px 0;
          display: none;
          > div {
            display: flex;
          }
          .title {
            color: #494949;
            font-size: 12px;
            padding: 10px;
            margin-right: 20px;
            font-weight: 600;
          }
          .value {
            color: #777;
            font-size: 12px;
            padding: 10px;
          }
        }
        .text-review {
          p {
            color: #a8a8a8;
            font-size: 12px;
          }
          p.more {
            color: #222;
            text-decoration: underline;
            margin-top: 10px;
            font-weight: 500;
            cursor: pointer;
            &.is-active {
              display: none;
            }
          }
        }
      }
      .thumb {
        margin: 20px 0;
      }
      .review-option {
        display: flex;
        align-items: center;
        .description {
          font-size: 12px;
          color: #7b7b7b;
          margin-right: 10px;
          span.open {
            color: #000;
            font-weight: 400;
            display: none;
            cursor: pointer;
            &.is-active {
              display: inline;
            }
          }
          span.close {
            color: #000;
            font-weight: 400;
            &.is-active {
              display: none;
            }
          }
          em {
            margin: 0 20px;
          }
        }
        .btn {
          width: 50px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 3px;
          font-size: 12px;
          margin: 0 5px;
        }
        .yes {
          background-color: #39b5b7;
          color: #fff;
          cursor: pointer;
          &:hover {
            background-color: #5e5e5e;
          }
        }
        .no {
          border: 1px solid #dadada;
          color: #7b7b7b;
          cursor: pointer;
          &:hover {
            background-color: #5e5e5e;
            color: #fff;
          }
        }
        .like {
          position: relative;
          width: 30px;
          color: #fff;
          background-color: #39b5b7;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-right-color: #39b5b7;
            border-left: 0;
            margin-top: -5px;
            margin-left: -5px;
          }
        }
      }
      .comment {
        width: 650px;
        position: relative;
        border: 1px solid #e2e2e2;
        padding: 10px;
        margin-top: 10px;
        display: none;
        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid white;
          top: -7px;
          left: 21px;
        }
        &::before {
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid #e2e2e2;
          position: absolute;
          top: -8px;
          left: 20px;
          content: '';
        }
        .text-box {
          border: 1px solid #dadada;
          padding: 5px;
          display: flex;
          justify-content: flex-end;
          .btn {
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #dadada;
            padding: 2px 5px;
            color: #7b7b7b;
            font-size: 13px;
          }
        }
      }
      .side {
        flex: 25%;
        .title {
          color: #a8a8a8;
          font-size: 12px;
          margin-bottom: 5px;
        }
        .id {
          color: #333;
          font-size: 12px;
        }
      }
    }
  }
}