<!doctype html>
<html lang="en">
<head>
    <%- include ../components/head %>
</head>
<body>
    <%- include('../components/header', {title: title, description: description}) %>
    <%- include ../components/side-header %>
    <div id="main">
        <section class="product-detail-visual">
            <div class="container">
                <div class="slider-for">
                    <div class="item img1"></div>
                    <div class="item img2"></div>
                    <div class="item img3"></div>
                    <div class="item img4"></div>
                </div>
                <div class="slider-nav">
                    <img src="/public/images/1560475105869.webp" alt="">
                </div>
                <div class="description">
                    <div class="sns-links">
                        <a href="#!" class="facebook"></a>
                        <a href="#!" class="kakaostory"></a>
                        <a href="#!" class="url"></a>
                    </div>
                    <div class="title">
                        <div class="labels">
                            <div class="new">new</div>
                            <div class="best">best</div>
                            <div class="gift">gift</div>
                        </div>
                        <h1>바이탈 하이드라 솔루션<br>바이옴 워터 크림</h1>
                        <p class="tag">#탱글수분크림</p>
                        <p class="price">38,000원</p>
                    </div>
                    <div class="option">
                        <div class="list">
                            <p class="tit">적립금</p>
                            <p class="sub">0원<p/>
                        </div>
                        <div class="list">
                            <p class="tit">수량</p>
                            <div class="count">
                                <ul>
                                    <li>-</li>
                                    <li>1</li>
                                    <li>+</li>
                                </ul>
                            </div>
                        </div>
                        <div class="list">
                            <p class="tit">사은품</p>
                            <p class="sub em">바이탈 하이드라 솔루션</p>
                            <i></i>
                        </div>
                        <div class="list bar">
                            <p class="tit">총 구매 금액</p>
                            <p class="sub">38,000원</p>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="#!" class="buy">
                            바로구매
                            <span class="icon-plus"></span>
                            <span class="slide-plus">
                                <span class="screen"></span>
                            </span>
                        </a>
                        <a href="#!" class="cart">
                            <img src="/public/images/btn_cart.webp" alt="">
                            <div class="screen"></div>
                        </a>
                        <a href="#!" class="favorite">
                            <img src="/public/images/btn_wish.webp" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-detail-reviewstar">
            <div class="container">
                <div class="description">
                    <p class="tit">리뷰평점</p>
                    <p class="score">4.9</p>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="thumb">
                    <img src="/public/images/thumbnail_1525e83f02eb257e.jpg" alt="">
                    <img src="/public/images/thumbnail_bac4ee7ac18f7031.jpg" alt="">
                    <img src="/public/images/thumbnail_83aae6d59407a97b.jpg" alt="">
                    <img src="/public/images/thumbnail_3141b535b2b609c0.jpg" alt="">
                    <img src="/public/images/thumbnail_135f5ef7b4e973c1.jpg" alt="">
                    <img src="/public/images/thumbnail_9414910c6b9c34be.jpg" alt="">
                </div>
            </div>
        </section>
        <section class="product-detail-information">
            <div class="container">
                <div class="info-menu">
                    <a href="#!">상세정보</a>
                    <a href="#!">리뷰</a>
                    <a href="#!">정보안내</a>
                </div>
                <div class="detail-info">
                    <iframe width="940" height="540" src="https://www.youtube.com/embed/KTfvnPdkqp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <img src="/public/images/1559196733443.webp" alt="">
                    <img src="/public/images/1559196744043.webp" alt="">
                    <img src="/public/images/1559196751466.webp" alt="">
                    <img src="/public/images/1559196765373.webp" alt="">
                    <img src="/public/images/1559196771874.webp" alt="">
                </div>
<!--                <div class="quick-bar">-->
<!--                    <h2>바이탈 하이드라 솔루션<br>바이옴 워터 크림</h2>-->
<!--                    <h3>38,000원</h3>-->
<!--                    <div class="count">-->
<!--                        <ul>-->
<!--                            <li>-</li>-->
<!--                            <li>1</li>-->
<!--                            <li>+</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="buttons">-->
<!--                        <a href="#!" class="buy">-->
<!--                            바로구매-->
<!--                            <span class="icon-plus"></span>-->
<!--                            <span class="slide-plus">-->
<!--                        <span class="screen"></span>-->
<!--                    </span>-->
<!--                        </a>-->
<!--                        <a href="#!" class="cart">-->
<!--                            <img src="/public/images/btn_cart.webp" alt="">-->
<!--                            <div class="screen"></div>-->
<!--                        </a>-->
<!--                        <a href="#!" class="favorite">-->
<!--                            <img src="/public/images/btn_wish.webp" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </section>
        <section class="product-detail-review">
            <div class="container-sm">
                <div class="guide">
                    <p>
                        새로운 리뷰를 등록해 주세요.<br>리뷰를 작성하시면 적립금을 드립니다!<br>
                        포토리뷰 : 200원 | 한줄리뷰 : 100원
                    </p>
                </div>
                <div class="option">
                    <div class="photo">
                        <i class="fa fa-camera"></i>
                        <p>+사진추가</p>
                    </div>
                    <div class="star-score">
                        <div class="name">
                            <div class="star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text">아주 좋아요</p>
                            <i class="fa fa-sort-down"></i>
                        </div>
                        <div class="dropdown">
                            <ul>
                                <li>
                                    <div class="star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p class="text">아주 좋아요</p>
                                </li>
                                <li>
                                    <div class="star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <p class="text">아주 좋아요</p>
                                </li>
                                <li>
                                    <div class="star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <p class="text">아주 좋아요</p>
                                </li>
                                <li>
                                    <div class="star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <p class="text">아주 좋아요</p>
                                </li>
                                <li>
                                    <div class="star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <p class="text">아주 좋아요</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="review-submit">
                        <i class="fa fa-check-circle"></i>
                        <p>리뷰 등록하기</p>
                    </div>
                </div>
                <div class="score-box">
                    <div class="score">
                        <p class="title">4.9</p>
                        <p class="sub">56개의 리뷰 평점</p>
                    </div>
                    <div class="bar">
                        <div class="item">
                            <p>5 star</p>
                            <div class="bar">
                                <div class="value" style="width: 90%;"></div>
                            </div>
                            <p>(54)</p>
                        </div>
                        <div class="item">
                            <p>4 star</p>
                            <div class="bar">
                                <div class="value" style="width: 10%;"></div>
                            </div>
                            <p>(1)</p>
                        </div>
                        <div class="item">
                            <p>3 star</p>
                            <div class="bar">
                                <div class="value" style="width: 0%;"></div>
                            </div>
                            <p>(0)</p>
                        </div>
                        <div class="item">
                            <p>2 star</p>
                            <div class="bar">
                                <div class="value" style="width: 10%;"></div>
                            </div>
                            <p>(1)</p>
                        </div>
                        <div class="item">
                            <p>1 star</p>
                            <div class="bar">
                                <div class="value" style="width: 0%;"></div>
                            </div>
                            <p>(0)</p>
                        </div>
                    </div>
                    <div class="description">
                        <p class="title"><em>98%<br>의 구매자들이 이 상품을 좋아합니다.</em><br>( 56명중 55명 )</p>
                        <p class="sub">포토리뷰만 모아보기 ></p>
                    </div>
                </div>
                <div class="board">
                    <div class="menu">
                        <p class="new"><strong>최신순</strong> 리뷰 (56)</p>
                        <p><a href="#!">추천순</a></p>
                        <p><a href="#!">평점순</a></p>
                    </div>
                    <div class="select-box">
                        <div class="type-select">
                            <div class="name">
                                <p>피부고민</p>
                                <i class="fa fa-sort-down"></i>
                            </div>
                            <div class="dropdown">
                                <ul>
                                    <li>
                                        <input type="checkbox">
                                        <label for="type1">칙칙함</label>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <label for="type1">칙칙함</label>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <label for="type1">칙칙함</label>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <label for="type1">칙칙함</label>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <label for="type1">칙칙함</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="type-select">
                            <div class="name">
                                <p>피부타입</p>
                                <i class="fa fa-sort-down"></i>
                            </div>
                            <div class="dropdown">
                                <ul>
                                    <li>
                                        <input type="checkbox">
                                        <label for="type1">건성</label>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <label for="type1">지성</label>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <label for="type1">복합성</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main">
                            <div class="score">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>- 아주 좋아요 (1명 중 1명이 이 리뷰가 도움이 된다고 선택했습니다)</p>
                                <div class="labels">
                                    <div class="new">new</div>
                                </div>
                            </div>
                            <div class="type">
                                <div>
                                    <p class="title">피부고민</p>
                                    <p class="value">민감성</p>
                                </div>
                                <div>
                                    <p class="title">피부타입</p>
                                    <p class="value">복합</p>
                                </div>
                            </div>
                            <div class="text-review">
                                <p>샘플로 써보고 좋아서 큰 용량으로 주문해 봤어요!! 한통 금방 쓸 것 같아 아쉬우면서!!</p>
                                <p class="more">더보기</p>
                            </div>
                            <div class="thumb">
                                <img src="/public/images/thumbnail_5183908d9b695da9.jpg" alt="">
                            </div>
                            <div class="review-option">
                                <div class="description">
                                    <span class="open">리뷰 접기</span><span class="close">댓글을 작성해 주세요</span><em>|</em>이 리뷰가 도움이 되었나요?
                                </div>
                                <p class="btn yes">네</p>
                                <p class="btn no">아니요</p>
                                <p class="btn like">+1</p>
                            </div>
                            <div class="comment">
                                <div class="text-box">
                                    <div class="btn">
                                        등록
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <p class="title">작성자</p>
                            <p class="id">fpd****</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main">
                            <div class="score">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>- 아주 좋아요 (1명 중 1명이 이 리뷰가 도움이 된다고 선택했습니다)</p>
                            </div>
                            <div class="type">
                                <div>
                                    <p class="title">피부고민</p>
                                    <p class="value">민감성</p>
                                </div>
                                <div>
                                    <p class="title">피부타입</p>
                                    <p class="value">복합</p>
                                </div>
                            </div>
                            <div class="text-review">
                                <p>샘플로 써보고 좋아서 큰 용량으로 주문해 봤어요!! 한통 금방 쓸 것 같아 아쉬우면서!!</p>
                                <p class="more">더보기</p>
                            </div>
                            <div class="thumb">
                                <img src="/public/images/thumbnail_5183908d9b695da9.jpg" alt="">
                            </div>
                            <div class="review-option">
                                <div class="description">
                                    <span class="open">리뷰 접기</span><span class="close">댓글을 작성해 주세요</span><em>|</em>이 리뷰가 도움이 되었나요?
                                </div>
                                <p class="btn yes">네</p>
                                <p class="btn no">아니요</p>
                                <p class="btn like">+1</p>
                            </div>
                            <div class="comment">
                                <div class="text-box">
                                    <div class="btn">
                                        등록
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <p class="title">작성자</p>
                            <p class="id">fpd****</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main">
                            <div class="score">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>- 아주 좋아요 (1명 중 1명이 이 리뷰가 도움이 된다고 선택했습니다)</p>
                            </div>
                            <div class="type">
                                <div>
                                    <p class="title">피부고민</p>
                                    <p class="value">민감성</p>
                                </div>
                                <div>
                                    <p class="title">피부타입</p>
                                    <p class="value">복합</p>
                                </div>
                            </div>
                            <div class="text-review">
                                <p>샘플로 써보고 좋아서 큰 용량으로 주문해 봤어요!! 한통 금방 쓸 것 같아 아쉬우면서!!</p>
                                <p class="more">더보기</p>
                            </div>
                            <div class="thumb">
                                <img src="/public/images/thumbnail_5183908d9b695da9.jpg" alt="">
                            </div>
                            <div class="review-option">
                                <div class="description">
                                    <span class="open">리뷰 접기</span><span class="close">댓글을 작성해 주세요</span><em>|</em>이 리뷰가 도움이 되었나요?
                                </div>
                                <p class="btn yes">네</p>
                                <p class="btn no">아니요</p>
                                <p class="btn like">+1</p>
                            </div>
                            <div class="comment">
                                <div class="text-box">
                                    <div class="btn">
                                        등록
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <p class="title">작성자</p>
                            <p class="id">fpd****</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main">
                            <div class="score">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>- 아주 좋아요 (1명 중 1명이 이 리뷰가 도움이 된다고 선택했습니다)</p>
                            </div>
                            <div class="type">
                                <div>
                                    <p class="title">피부고민</p>
                                    <p class="value">민감성</p>
                                </div>
                                <div>
                                    <p class="title">피부타입</p>
                                    <p class="value">복합</p>
                                </div>
                            </div>
                            <div class="text-review">
                                <p>샘플로 써보고 좋아서 큰 용량으로 주문해 봤어요!! 한통 금방 쓸 것 같아 아쉬우면서!!</p>
                                <p class="more">더보기</p>
                            </div>
                            <div class="thumb">
                                <img src="/public/images/thumbnail_5183908d9b695da9.jpg" alt="">
                            </div>
                            <div class="review-option">
                                <div class="description">
                                    <span class="open">리뷰 접기</span><span class="close">댓글을 작성해 주세요</span><em>|</em>이 리뷰가 도움이 되었나요?
                                </div>
                                <p class="btn yes">네</p>
                                <p class="btn no">아니요</p>
                                <p class="btn like">+1</p>
                            </div>
                            <div class="comment">
                                <div class="text-box">
                                    <div class="btn">
                                        등록
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <p class="title">작성자</p>
                            <p class="id">fpd****</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main">
                            <div class="score">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>- 아주 좋아요 (1명 중 1명이 이 리뷰가 도움이 된다고 선택했습니다)</p>
                            </div>
                            <div class="type">
                                <div>
                                    <p class="title">피부고민</p>
                                    <p class="value">민감성</p>
                                </div>
                                <div>
                                    <p class="title">피부타입</p>
                                    <p class="value">복합</p>
                                </div>
                            </div>
                            <div class="text-review">
                                <p>샘플로 써보고 좋아서 큰 용량으로 주문해 봤어요!! 한통 금방 쓸 것 같아 아쉬우면서!!</p>
                                <p class="more">더보기</p>
                            </div>
                            <div class="thumb">
                                <img src="/public/images/thumbnail_5183908d9b695da9.jpg" alt="">
                            </div>
                            <div class="review-option">
                                <div class="description">
                                    <span class="open">리뷰 접기</span><span class="close">댓글을 작성해 주세요</span><em>|</em>이 리뷰가 도움이 되었나요?
                                </div>
                                <p class="btn yes">네</p>
                                <p class="btn no">아니요</p>
                                <p class="btn like">+1</p>
                            </div>
                            <div class="comment">
                                <div class="text-box">
                                    <div class="btn">
                                        등록
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <p class="title">작성자</p>
                            <p class="id">fpd****</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="chat">
            <div class="drop-icon">
                <a href="#!" class="drj"></a>
                <a href="#!" class="kakao"></a>
                <a href="#!" class="naver"></a>
            </div>
            <div class="chat-icon">
                <a href="#!" class="chat-open"></a>
                <a href="#!" class="chat-close"></a>
            </div>
        </div>
    </div>
    <%- include ../components/footer %>
</body>
</html>