#footer {
  .footer-menu {
    background-color: #fff;
    border-top: 1px solid #f5f4f4;
    .container {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .links {
      margin-left: -15px;

      a {
        font-size: 13px;
        padding: 15px;
        color: #999;

        &.em {
          color: #000;
        }

        &.bar {
          position: relative;
          &:after {
            content: '';
            width: 1px;
            height: 10px;
            background-color: #999;
            position: absolute;
            top: 20px;
            right: 0;
          }
        }
      }
    }

    .site-menu {
      display: flex;
      align-items: center;

      .name {
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #555;
        padding-left: 10px;
        cursor: pointer;

        &.bar {
          position: relative;

          &:after {
            content: '';
            width: 1px;
            height: 10px;
            background-color: #999;
            position: absolute;
            top: 25px;
            right: 0;
          }
        }

        .icon {
          width: 60px;
          display: flex;
          justify-content: flex-end;

          i {
            margin-left: 5px;
            color: #999;
          }

          &.is-active {
            .fa-chevron-up {
              display: none;
            }

            .fa-chevron-down {
              display: block;
            }
          }

          .fa-chevron-down {
            display: none;
          }
        }
      }

      .dropdown {
        display: none;
      }
    }

    .site-map {
      position: relative;

      .name {
        width: 160px;
      }

      .dropdown {
        .dropdown-container {
          width: 625px;
          position: absolute;
          bottom: 60px;
          right: 0;
          display: flex;
          flex-wrap: wrap;
          background-color: #fff;
          border: 1px solid #222;
          padding: 20px 20px;

          ul {
            display: flex;
            flex-wrap: wrap;

            li {
              flex: 25%;
              max-width: 25%;
              margin-bottom: 20px;
              border-right: 1px solid #d5d3d3;

              &:nth-child(4) {
                border: none;
              }

              &:nth-child(7) {
                border: none;
              }

              h5 {
                font-size: 14px;
                padding-left: 10px;
                margin-left: 15px;
              }

              a {
                display: flex;
                color: #999;
                font-size: 14px;
                padding: 10px;
                margin-left: 15px;

                &:hover {
                  color: #222;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    .family-map {
      position: relative;

      .name {
        width: 150px;
      }

      .dropdown {
        .dropdown-container {
          width: 150px;
          position: absolute;
          bottom: 60px;
          right: 0;
          background-color: #fff;
          border: 1px solid #222;

          li {
            padding: 0 17px;

            a {
              display: flex;
              color: #555;
              font-size: 12px;
              padding: 10px;

              &:hover {
                color: #222;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .language {
      position: relative;

      .name {
        width: 110px;
      }

      .dropdown {
        .dropdown-container {
          width: 110px;
          position: absolute;
          bottom: 60px;
          right: 0;
          background-color: #fff;
          border: 1px solid #222;

          li {
            padding: 0 17px;

            a {
              display: flex;
              color: #555;
              font-size: 12px;
              padding: 10px;

              &:hover {
                color: #222;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .footer-info {
    background-color: #f9f9f9;
    color: #999;
    font-size: 12px;
    line-height: 1.5;
    padding: 25px 0;
    span {
      position: relative;
      padding: 0 10px;
      margin-left: 10px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 1px;
        height: 11px;
        margin-top: -5px;
        background: #d5d3d3;
      }
    }
    a {
      text-decoration: underline;
      color: #222;
    }
    p {
      padding: 20px 0;
    }
    .btn {
      position: relative;
      top: 4px;
      display: inline-block;
      background-color: #d5d3d3;
      border: 1px solid #eee;
      color: #999;
      font-size: 11px;
      text-decoration: none;
      padding: 3px 12px;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #999;
        transform: translateX(-100%);
        transition: 0.4s;
      }
      &:hover {
        color: #fff;
        &::before {
          transform: none;
        }
      }
    }
  }
}