<!doctype html>
<html lang="en">
<head>
    <%- include components/head %>
</head>
<body>
<%- include components/side-header %>
<div id="main">
    <div id="fullpage">
        <div class="main-header">
            <div class="container">
                <ul class="main-nav">
                    <li><a href="#!">제품</a></li>
                    <li><a href="#!">이벤트</a></li>
                    <li><a href="#!">스토리</a></li>
                </ul>
            </div>
        </div>


        <div class="section main-slide">
            <div class="item img1">
                <div class="container">
                    <div class="description">
                        <h1>자르트티비 EP.4<br>꿀궁합 자랑하는 썸머 메이크업템</h1>
                        <p>메이크업아티스트가 '킴비'가 추천하는<br>환상의 꿀궁합 메이크업 구성을 특별한 가격에 만나보세요!</p>
                        <div class="slide-btn">
                            <a href="#!">자세히보기</a>
                            <div class="screen"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item img2">
                <div class="container">
                    <div class="description">
                        <h1>자르트티비 EP.4<br>꿀궁합 자랑하는 썸머 메이크업템</h1>
                        <p>메이크업아티스트가 '킴비'가 추천하는<br>환상의 꿀궁합 메이크업 구성을 특별한 가격에 만나보세요!</p>
                        <div class="slide-btn">
                            <a href="#!">자세히보기</a>
                            <div class="screen"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item img3">
                <div class="container">
                    <div class="description">
                        <h1>자르트티비 EP.4<br>꿀궁합 자랑하는 썸머 메이크업템</h1>
                        <p>메이크업아티스트가 '킴비'가 추천하는<br>환상의 꿀궁합 메이크업 구성을 특별한 가격에 만나보세요!</p>
                        <div class="slide-btn">
                            <a href="#!">자세히보기</a>
                            <div class="screen"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section project">
            <div class="item img1">
                <div class="container">
                    <div class="description">
                        <h2>PROJECT #12</h2>
                        <h1>Vital Hydra Solution<br>#Biome</h1>
                        <p>우리 피부 수분체질 개선을 돕기 위해<br>필터스페이스에 바이옴 4총사가 도착했습니다.</p>
                        <div class="slide-btn">
                            <a href="#!">자세히보기</a>
                            <div class="screen"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section movie">
            <div class="container">
                <div class="main">
                    <div class="description">
                        <h2>NEW PRODUCT STORY</h2>
                        <h1>태양에 맞서는<br>강력한 차단의 힘</h1>
                        <p class="sub">지구의 솔라스트레스에 맞서는<br>#우주선크림 솔라바이옴의<br>강력한 피부보호막을 경험해보세요.</p>
                        <div class="more-btn">
                            <a href="#!">더 많은 영상 보기</a>
                            <div class="screen"></div>
                        </div>
                    </div>
                    <div class="cover">
                        <img src="/public/images/1585722443572.png" alt="">
                        <div class="play">
                            <img src="/public/images/btn_vodPlay.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section event">
            <div class="container">
                <ul>
                    <li>
                        <div class="item">
                            <a href="#!">
                                <div class="thumb">
                                    <img src="/public/images/1508994989898.webp" alt="">
                                    <div class="screen"></div>
                                </div>
                                <div class="description">
                                    <h4>Dr.Jart Channel</h4>
                                    <h3>신뢰가는 Doctor와 유쾌한 Art 요소들로 만들어가는 뷰티 그램</h3>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="#!">
                            <div class="item">
                                <div class="thumb">
                                    <img src="/public/images/1552613750448.webp" alt="">
                                    <div class="screen"></div>
                                </div>
                                <div class="description">
                                    <h4>Product Zoom-in</h4>
                                    <h3>시카 스토리, 시카 뮤지엄 등 시카에 대한 모든 이야기</h3>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <div class="item">
                                <div class="thumb">
                                    <img src="/public/images/1508995257263.webp" alt="">
                                    <div class="screen"></div>
                                </div>
                                <div class="description">
                                    <h4>Filter Space</h4>
                                    <h3>'물','공기','빛'의 경험! 닥터자르트 플래그쉽 스토어</h3>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <div class="item">
                                <div class="thumb">
                                    <img src="/public/images/1508995370143.webp" alt="">
                                    <div class="screen"></div>
                                </div>
                                <div class="description">
                                    <h4>Membership</h4>
                                    <h3>다양한 혜택의 닥터자르트 멤버십 안내!</h3>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include components/footer %>
</body>
</html>
